<link rel="stylesheet" href="/index.css">
<body>
    <h1 class="cta">Contact</h1>
    <div class="flexboxcta">
        {{#with myData.contact}}
            <div class="boxcta"> 
                <li class="ctn">
                    <span class="first-block">Facebook : </span><span class="second-block">
                        <a class="email" href="https://www.facebook.com/aoet.taro.52/"> {{fb}}</a>
                    </span>
                </li>
            </div>
            <br>
            <br> <br> 
            <div class="boxcta">
                <li class="ctn">
                    <span class="first-block">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Instagram : </span><span class="second-block">
                        <a class="email" href="https://www.instagram.com/pearth.1999/?hl=th"> {{ig}}</a>
                    </span>
                </li>
            </div>
             <br> <br>
            <div class="boxcta">
                <li class="ctn">
                    <span class="first-block">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Line ID : </span><span class="second-block"> {{line}}</span>
                </li> 

            </div>
            <div class="boxcta">
                <li class="ctn">
                    <span class="first-block">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Email : </span><span class="second-block">
                        <a class="email" href="mailto:{{email}}"> {{email}}</a>
                    </span>
                </li> 

            </div>
             <div class="boxcta">
                 <li class="ctn">
                    <span class="first-block">Phone number &nbsp: &nbsp&nbsp</span><span class="second-block"> {{phone}}</span>
                </li>
             </div>
        {{/with}}
    </div>
</body>